body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 45%;
}

.container-field {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding-bottom: 20px;
    /* overflow: auto; */
}

.container-field h1 {
    font-size: 48px;
    text-align: center;
    color: #000;
}

.container-field input {
    width: 85%;
    margin-bottom: 10px;
    min-height: 40px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background: white;
    box-shadow: 5px 5px 17px #c8c8c8,
               -5px -5px 17px #ffffff;
    border: none;
    border-radius: 10px;
    transition: all .5s;
}

.container-field input:focus {
    background: #e8e8e8;
    box-shadow: inset 5px 5px 17px #c8c8c8,
              inset -5px -5px 17px #ffffff;
}

.container-field textarea{
    min-height: 400px; /* Tinggi minimum */
    width: 85%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background: white;
    box-shadow: 5px 5px 17px #c8c8c8,
               -5px -5px 17px #ffffff;
    border: none;
    border-radius: 10px;
    transition: all .5s;
    resize: none;
    margin-bottom: 20px;
}

.container-field textarea:focus {
    background: #e8e8e8;
    box-shadow: inset 5px 5px 17px #c8c8c8,
              inset -5px -5px 17px #ffffff;
}

.addButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    width: 150px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #004085 0px 7px 2px, #000 0px 8px 5px;
}

.addButton:hover {
    opacity: 1;
}

.addButton:active {
    top: 4px;
    box-shadow: #0073ee 0px 3px 2px,#000 0px 3px 5px;
}

.cancelButton {
    display: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(205, 133, 0);
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    width: 150px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: rgb(107, 70, 0) 0px 7px 2px, #000 0px 8px 5px;
}

.cancelButton:hover {
    opacity: 1;
}

.cancelButton:active {
    top: 4px;
    box-shadow: rgb(255, 166, 0) 0px 3px 2px,#000 0px 3px 5px;
}

.main-content {
    flex: 1;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    overflow-y: auto;
    display: flex;
}

.main-content h2 {
    color: #000;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}
.search {
    flex: 1;
    width: 96%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(49, 49, 49, 0.3);
    transition: 300ms ease-in-out;
}

.search:focus {
    background-color: white;
    transform: scale(1.01);
    box-shadow: 13px 13px 100px #4e4e4e, -13px -13px 100px #ffffff;
}

#clear-search {
    position: absolute;
    right: 20px;
    padding-bottom: 20px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: none; /* Sembunyikan awalnya */
    color: gray;
}

#clear-search:hover {
    color: black;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.note-item {
    padding-inline: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-width: 150px;
    max-width: 250px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background: white;
    box-shadow: 5px 5px 17px #c8c8c8,
               -5px -5px 17px #ffffff;
    border: none;
    border-radius: 10px;
    transition: all .5s;
    height: 220px;
}

.note-item .note-content {
    height: 100px;
    overflow-y: auto;
    padding-right: 5px; /* Agar tidak tertutup scrollbar */
    white-space: pre-wrap;
    font-size: 14px;
    background-color: #fff;
    margin-bottom: 25px;
}

.actions {
    display: flex;
    justify-content:end;
    gap: 16px;
}

.edit {
    padding: 5px 10px;
    cursor: pointer;
    --bg: #000;
    --hover-bg: rgb(0, 119, 255);
    --hover-text: #fff;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
}

.edit:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}
.edit:active {
    transform: translate(0);
    box-shadow: none;
  }

.delete {
    padding: 5px 10px;
    cursor: pointer;
    --bg: #000;
    --hover-bg: red;
    --hover-text: #fff;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    background: var(--bg);
    transition: 0.2s;
}

.delete:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}
.delete:active {
    transform: translate(0);
    box-shadow: none;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.card {
    width: 300px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
} 

.popupHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
}
  
.buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
}
  
.acceptButton {
    width: 80px;
    height: 30px;
    background-color: rgb(46, 46, 46);
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px #bebdbd, 0 2px 4px -1px #bebdbd;
    transition: all .6s ease;
}

.declineButton {
    width: 80px;
    height: 30px;
    background-color: #dadada;
    transition-duration: .2s;
    color: rgb(46, 46, 46);
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px #bebdbd, 0 2px 4px -1px #bebdbd;
    transition: all .6s ease;
}

.alertButton {
    width: 80px;
    height: 30px;
    background-color: rgb(46, 46, 46);
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px #bebdbd, 0 2px 4px -1px #bebdbd;
    transition: all .6s ease;
}

.declineButton:hover {
    background-color: #ebebeb;
    box-shadow: 0 10px 15px -3px #ebebeb, 0 4px 6px -2px #bebdbd;
    transition-duration: .2s;
}
  
.acceptButton:hover {
    background-color: rgb(86, 86, 86);
    box-shadow: 0 10px 15px -3px rgb(86, 86, 86), 0 4px 6px -2px rgb(175, 174, 174);
    transition-duration: .2s;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}


/* From Uiverse.io by elijahgummer */ 
.tooltip-container {
    --background-tooltip-container: #ffffff00;
    position: relative;
    background: var(--background-tooltip-container);
    cursor: pointer;
    transition: all 0.2s;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    font-size: 17px;
  }
  
  .tooltip {
    --background-tooltip: #6e7681; /* Default background color for tooltip */
    position: absolute;
    top: -80px; /* Adjusted top position */
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background: var(--background-tooltip);
    color: white; /* Text color */
    border-radius: 5px;
    width: 210px;
    height: 62px;
    font-size: 13px;
    text-align: center;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(
      --background-tooltip
    ); /* Use the same background color as the tooltip */
  }
  
  .tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  /* .texttip{
    font-size: 14px;
  } */
  
  .row.justify-between {
    display: flex;
    justify-content: space-between; /* Membuat jarak antara judul dan tooltip */
    align-items: center; /* Membuat elemen sejajar vertikal */
    width: 100%; /* Pastikan container mengambil lebar penuh */
}

.row.justify-between h3 {
    overflow: auto;
    white-space: nowrap;
}

/* From Uiverse.io by Galahhad */ 
/* tooltip settings 👇 */

.copy {
    /* button */
    --button-bg: #35343400;
    --button-hover-bg: #464646;
    --button-text-color: #353434;
    --button-hover-text-color: #ffffff;
    --button-border-radius: 10px;
    --button-diameter: 30px;
    --button-outline-width: 1px;
    --button-outline-color: rgb(141, 141, 141);
    /* tooltip */
    --tooltip-bg: #6e7681;
    --toolptip-border-radius: 4px;
    --tooltip-font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
    --tooltip-font-size: 12px;
    /* 👆 this field should not be empty */
    --tootip-text-color: rgb(255, 255, 255);
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 7px;
    --tooltip-offset: 8px;
    /* --tooltip-transition-duration: 0.3s; */
    /* 👆 if you need a transition, 
    just remove the comment,
    but I didn't like the transition :| */
  }
  
  .copy {
    box-sizing: border-box;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
  }
  
  .tooltip_copy {
    position: absolute;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tootip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border-radius: var(--toolptip-border-radius);
    pointer-events: none;
    transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip_copy::before {
    content: attr(data-text-initial);
  }
  
  .tooltip_copy::after {
    content: "";
    position: absolute;
    bottom: calc(var(--tooltip-padding-y) / 2 * -1);
    width: var(--tooltip-padding-y);
    height: var(--tooltip-padding-y);
    background: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
  }
  
  .copy svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .checkmark {
    display: none;
  }
  
  /* actions */
  
  .copy:hover .tooltip_copy,
  .copy:focus:not(:focus-visible) .tooltip_copy {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
  }
  
  .copy:focus:not(:focus-visible) .tooltip_copy::before {
    content: attr(data-text-end);
  }
  
  .copy:focus:not(:focus-visible) .clipboard {
    display: none;
  }
  
  .copy:focus:not(:focus-visible) .checkmark {
    display: block;
    color: white;
  }
  
  .copy:hover,
  .copy:focus {
    background-color: var(--button-hover-bg);
  }
  
  .copy:active {
    outline: var(--button-outline-width) solid var(--button-outline-color);
  }
  
  .copy:hover svg {
    color: var(--button-hover-text-color);
  }